@section customScripts {
    <script>
        $(document).ready(function () {
            $("#btnUpdatePassword").click(function () {
                var obj =
                {
                    Password: $("#txtPassword").val(),
                    NewPassword: $("#txtNewPassword").val(),
                    ReNewPassword: $("#txtReNewPassword").val()
                };

                $.ajax({
                    url: "/AppUser/ProfileUpdatePassword",
                    method: "post",
                    datatype: "json",
                    data: { dto: obj },
                    success: function (result) {
                        if (result.isOk) {
                            alert(result.message);
                            window.location.href = "/AppUser/LogOut";
                        }
                        else
                            alert(result.errorMessage);
                    }
                });
            });
        });
    </script>
}

<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">ŞİFRE BILGILERIM</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form>
                    <div class="control-group">
                        <input type="password" class="form-control" id="txtPassword" placeholder="Şifreniz" />
                    </div>

                    <div class="control-group">
                        <input type="password" class="form-control" id="txtNewPassword" placeholder="Yeni Şifreniz" />
                    </div>


                    <div class="control-group">
                        <input type="password" class="form-control" id="txtReNewPassword" placeholder="Yeni Şifreniz Tekrar" />
                    </div>

                    <div>
                        <button class="btn btn-primary py-2 px-4" type="button" id="btnUpdatePassword">
                            Şifremi Değiştir
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <div class="bg-light p-30 mb-3">
                <p class="mb-2">
                    <i class="fa fa-address-card" aria-hidden="true"></i>
                    <a href="/AppUser/ProfileUpdateUserInfo">Kişisel Bilgiler</a>
                </p>
                <p class="mb-2"><i class="fa fa-unlock-alt" aria-hidden="true"></i>Şifre Değiştir</p>
            </div>
        </div>
    </div>
</div>