
@using WEB.MVCUI.Models.Entities
@model List<City>
@section customScripts{

    <script>

        $(document).ready(function(){
            $("#ddlCities").change(function(){

                var cityId = $(this).val();

                $.ajax({

                    url: "/District/GetByCity",
                    method:"post",
                    datatype:"json",
                    data: { cityId: cityId},
                    success: function(result)
                    {
                        if (result.isOk) 
                        {
                            $("#ddlDistricts").empty();
                            var optSelect = "<option value= '-1'>Seçiniz....</option>";
                            $("#ddlDistricts").append(optSelect)

                            for (var i = 0; i < result.districts.length; i++) 
                            {
                                var opt = "<option value='" + result.districts[i].id + "'>" + result.districts[i].districtName + "</option>";
                                $("#ddlDistricts").append(opt);
                            }

                        }
                        else
                        {
                            alert(result.message);
                            $("#ddlDistricts").empty();
                            var optSelect = "<option value= '-1'>Seçiniz....</option>";
                            $("#ddlDistricts").append(optSelect)
                        }

                    }


                });
            });

            $("#btnRegister").click(function() {

                var obj =
                {
                    FullName: $("#txtFullName").val(),
                    Email: $("#txtEmail").val(),
                    Password: $("#txtPassword").val(),
                    RePassword: $("#txtRePassword").val(),
                    CityId: $("#ddlCities").val(),
                    DistrictId: $("#ddlDistricts").val(),
                    Phone: $("#txtPhone").val(),
                    Address: $("#txtAddress").val()

                };
                $.ajax({

                    url: "/AppUser/Register",
                    method: "post",
                    datatype: "json",
                    data: { dto :obj },
                    success:function(result) 
                    {
                        if(result.isOk) 
                        {
                            alert(result.message);
                        }
                        else 
                        {
                            alert(result.errorMessages);

                        }
                        
                    }

                });

            });
        });

    </script>
}
<!DOCTYPE html>
<html lang="tr">

<head>

   <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">
</head>

<body>
    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-12">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Kayıt Formu</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Ad Soyad</label>
                            <input id="txtFullName" class="form-control" type="text" placeholder="Emre Kuzey">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>E-mail</label>
                            <input id="txtEmail" class="form-control" type="email" placeholder="example@email.com">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Şifre</label>
                            <input id="txtPassword" class="form-control" type="password" placeholder="*********">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Şifre Tekrar</label>
                            <input id="txtRePassword" class="form-control" type="password" placeholder="*********">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Şehirler</label>
                            <select id="ddlCities" class="form-control">
                            <option value="-1">Seçiniz...</option>
                            @foreach (var item in Model)
                                {
                                    <option value="@item.Id">@item.CityName</option>
                                }
                            </select> 
                        </div>
                        <div class="col-md-12 form-group">
                            <label>İlçeler</label>
                            <select id="ddlDistricts" class="form-control">
                                <option value="-1">Seçiniz...</option>
                              
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Telefon</label>
                            <input id="txtPhone" class="form-control" type="text" placeholder="+90 531 857 4569">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Adres</label>
                            <textarea id="txtAddress" class="form-control" rows="10" cols="5" placeholder="123 Street"></textarea>
                        </div>
                        <div class="col-md-12 form-group">
                            <input id="btnRegister" type="button" class="btn btn-warning" value="KAYDET"/>
                        </div>
                       
                    </div>
                </div>
               
            </div>
        </div>
     </div>
          
    <!-- Checkout End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
</body>

</html>