
@model List<Employee>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h2>Sipariş Ekleme Formu</h2>
    <hr />

    <form action="/Admin/Order/Save" method="post">
        <table width="800">
         
            <tr>
                <td>Siparişi Veren Müşteri </td>
                <td> : </td>
                <td> <input name="CustomerID" type="text" placeholder="Müşteri Id giriniz" /></td>
            </tr>
            <tr>
                <td>Sipariş Tarihi</td>
                <td> : </td>
                <td> <input name="OrderDate" type="datetime" placeholder="Sipariş Tarihi Giriniz" /></td>
            </tr>
            <tr>
                <td>Gönderici Firma</td>
                <td> : </td>
                <td> <input name="ShipperID" type="text" placeholder="Gönderici Firma Id Giriniz" /></td>
            </tr>
            <tr>
                <td>Personel</td>
                <td> : </td>
                <td> <select name="EmployeeID">  
                      <option>   
                            @foreach(var item in Model)
                            {
                            <option value="@item.EmployeeID">@item.FirstName @item.LastName</option>
                            }
                       </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td> <input type="submit" value="Kaydet" />
            </tr>
        </table>
    </form>

</body>
</html>