
@model List<Product>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h2>Sipariş Detayı Ekleme Formu</h2>
    <hr />

    <form action="/Admin/OrderDetail/Save" method="post">
        <table width="800">
         
            <tr>
                <td>Sipariş Id </td>
                <td> : </td>
                <td> <input name="OrderID" type="text" placeholder="Sipariş Id Giriniz" /></td>
            </tr>
            <tr>
                <td>Ürün </td>
                <td> : </td>
                <td> <select name="ProductId">  
                      <option value="-1">Seçiniz...</option>
                      <option>   
                            @foreach(var item in Model)
                            {
                            <option value="@item.ProductId">@item.ProductName</option>
                            }
                       </select>
                </td>
            </tr>
            <tr>
                <td> Ürün Sipariş Miktarı</td>
                <td> : </td>
                <td> <input name="Quantity" type="number" placeholder="Ürün Sipariş Miktarı Giriniz " /></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td> <input type="submit" value="Kaydet" />
            </tr>
        </table>
    </form>

</body>
</html>