
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h2>Tedarikçi Ekleme Formu</h2>
    <hr />

    <form action="/Admin/Supplier/Save" method="post">
        <table width="800">
         
            <tr>
                <td>Tedarikçi Adı </td>
                <td> : </td>
                <td> <input name="SupplierName" type="text" placeholder="Tedarikçi Giriniz" /></td>
            </tr>
            <tr>
                <td>Tedarikçi İletişim Adı</td>
                <td> : </td>
                <td> <input name="ContactName" type="text" placeholder="Tedarikçi İletişim Adı Giriniz" /></td>
            </tr>
            <tr>
                <td>Tedarikçi Adresi</td>
                <td> : </td>
                <td> <input name="Address" type="text" placeholder="Tedarikçi Adresi Giriniz" /></td>
            </tr>
            <tr>
                <td>Tedarikçi Şehri</td>
                <td> : </td>
                <td> <input name="City" type="text" placeholder="Tedarikçi Şehri Giriniz" /></td>
            </tr>
            <tr>
                <td>Tedarikçi Ülkesi</td>
                <td> : </td>
                <td> <input name="Country" type="text" placeholder="Tedarikçi Ülke Giriniz" /></td>
            </tr>
            <tr>
                <td>Tedarikçi Posta Kodu</td>
                <td> : </td>
                <td> <input name="PostalCode" type="text" placeholder="Tedarikçi Posta Kodu Giriniz" /></td>
            </tr>
            <tr>
                <td>Tedarikçi İletişim Numarası</td>
                <td> : </td>
                <td> <input name="Phone" type="number" placeholder="Tedarikçi İletişim Numarası Giriniz" /></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td> <input type="submit" value="Kaydet" />
            </tr>
        </table>
    </form>

</body>
</html>