
@model List<Category>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h2>Ürün Ekleme Formu</h2>
    <hr />

    <form action="/Admin/Product/Save" method="post">
        <table width="800">
            <tr>
                <td>Ürün Adı</td>
                <td> : </td>
                <td> <input name="ProductName" type="text" maxlength="10" placeholder="Ürün Adı Giriniz" /></td>
            </tr>
            <tr>
                <td>Ürün Fiyatı</td>
                <td> : </td>
                <td> <input name="UnitPrice" type="number" placeholder="Ürün Fiyatı Giriniz" /></td>
            </tr>
            <tr>
                <td>Ürün Stok</td>
                <td> : </td>
                <td> <input name="UnitsInStock" type="number" placeholder="Ürün Stok Adeti Giriniz" /></td>
            </tr>
            <tr>
                <td>Ürün Kategori</td>
                <td> : </td>
                <td> <select name="CategoryId">  
                      <option value="-1">Seçiniz...</option>
                      <option>   
                            @foreach(var item in Model)
                            {
                                <option value="@item.CategoryID">@item.CategoryName</option>
                            }
                       </select>
                </td>
            </tr>
            <tr>
                <td>Ürün Tedarikçi</td>
                <td> : </td>
                <td> <input name="SupplierID" type="text" placeholder="Ürün Tedarikçi Id Giriniz" /></td>
            </tr>
            <tr>
                <td>Ürün Açıklama</td>
                <td> : </td>
                <td> <input name="Description" type="text" placeholder="Ürün Açıklaması Giriniz" /></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td> <input type="submit" value="Kaydet" />
            </tr>
        </table>
    </form>

</body>
</html>