

<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>

    <h2>Gönderici Ekleme Formu</h2>
    <hr />
       
       <form action="/Admin/Shipper/Save" method="post">
    <table width="800">
    <tr>
        <td>Gönderici Adı</td>
        <td> : </td>
        <td> <input name="ShipperName" type="text" placeholder="Gönderici Adı Giriniz" maxlength="12"/></td>
    </tr>
        <tr>
            <td>Gönderici İletişim Numarası</td>
            <td> : </td>
            <td> <input name="Phone" type="text" placeholder="Gönderici İletişim Numarası Giriniz" /></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td> <input type="submit" value="Kaydet" />
        </tr>
</table>
    </form>

    </body>
</html>