
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
        <h2 color="green">KAYIT BAŞARILI</h2>
        <hr />
        <p>Form Kaydedildi</p>

        <a href="/Supplier/Index">Tedarikçi Listesine Dön</a>
    </body>
</html>
